<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.js.shipper">

    <!--获取设备网络状态，禁用后无法获取网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--网络权限，当禁用后，无法进行检索等相关业务-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--读取设备硬件信息，统计数据-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--读取系统信息，包含系统版本等信息，用作统计-->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!--获取设备的网络状态，鉴权所需网络代理-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--允许sd卡写权限，需写入地图数据，禁用后无法显示地图-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--获取统计数据-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--使用步行AR导航，配置Camera权限-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--程序在手机屏幕关闭后后台进程仍然运行-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="com.js.shipper.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="rIWXARf1cQO4OzFbrj6HIPIN68BG1Qr8" />

        <activity android:name="com.js.shipper.ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.js.shipper.ui.main.activity.MainActivity"
            android:launchMode="singleTask" />

        <activity
            android:name="com.js.shipper.ui.user.activity.LoginActivity"
            android:launchMode="singleTask" />

        <activity
            android:name="com.js.shipper.ui.user.activity.RegisterActivity"
            android:launchMode="singleTop" />

        <activity
            android:name="com.js.shipper.ui.user.activity.ForgetPwdActivity"
            android:launchMode="singleTop" />

        <activity
            android:name="com.js.shipper.ui.user.activity.ResetPwdActivity"
            android:launchMode="singleTop" />

        <activity
            android:name="com.js.shipper.ui.user.activity.UserCenterActivity"
            android:launchMode="singleTop" />

        <activity
            android:name="com.js.shipper.ui.wallet.activity.WalletActivity"
            android:launchMode="singleTask" />

        <activity
            android:name="com.js.shipper.ui.wallet.activity.BailActivity"
            android:launchMode="singleTop" />

        <activity
            android:name="com.js.shipper.ui.wallet.activity.RechargeActivity"
            android:launchMode="singleTop" />

        <activity
            android:name="com.js.shipper.ui.wallet.activity.WithdrawActivity"
            android:launchMode="singleTop" />

        <activity
            android:name="com.js.shipper.ui.wallet.activity.BillActivity"
            android:launchMode="singleTop" />

        <activity
            android:name="com.js.shipper.ui.order.activity.OrdersActivity"
            android:launchMode="singleTask" />

        <activity
            android:name="com.js.shipper.ui.order.activity.OrderDetailActivity"
            android:launchMode="singleTop" />

        <activity
            android:name="com.js.shipper.ui.ship.activity.SelectAddressActivity"
            android:launchMode="singleTop" />

        <activity
            android:name="com.js.shipper.ui.order.activity.OrderSubmitActivity"
            android:launchMode="singleTop" />

        <activity
            android:name="com.js.shipper.ui.center.activity.AboutActivity"
            android:launchMode="singleTop" />

        <activity
            android:name="com.js.shipper.ui.center.activity.FeedBackActivity"
            android:launchMode="singleTop" />

        <activity
            android:name="com.js.shipper.ui.user.activity.VerifiedActivity"
            android:launchMode="singleTop" />

        <activity
            android:name="com.js.shipper.ui.ship.activity.SelectCityActivity"
            android:launchMode="singleTop" />

        <activity
            android:name="com.js.shipper.ui.ship.activity.ShipUserInfoActivity"
            android:launchMode="singleTop" />

        <activity
            android:name="com.js.shipper.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"></activity>

        <activity
            android:name="com.js.shipper.ui.wallet.activity.PayActivity"
            android:launchMode="singleTop" />

        <activity
            android:name="com.js.shipper.ui.park.activity.CarSourceDetailActivity"
            android:launchMode="singleTop" />

        <activity
            android:name="com.js.shipper.ui.park.activity.BoutiqueDetailActivity"
            android:launchMode="singleTop" />

        <activity
            android:name="com.js.shipper.ui.park.activity.CollectActivity"
            android:launchMode="singleTop" />

        <activity
            android:name="com.js.shipper.ui.order.activity.OrderEditActivity"
            android:launchMode="singleTop" />

        <activity
            android:name="com.js.shipper.ui.order.activity.SubmitOrderActivity"
            android:launchMode="singleTop" />

        <activity
            android:name="com.js.shipper.ui.park.activity.BranchDetailActivity"
            android:launchMode="singleTop" />

        <activity
            android:name="com.js.shipper.ui.order.activity.TypeInputActivity"
            android:launchMode="singleTop" />

        <activity android:name="com.js.shipper.ui.message.chat.EaseChatActivity" />

        <activity android:name="com.base.frame.view.SimpleWebActivity"
            android:launchMode="singleTop" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        <service
            android:name="com.js.shipper.service.LocationService"
            android:enabled="true" />
        <!-- 设置环信应用的AppKey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="1114190326030612#android-driver" />
        <!-- 声明SDK所需的service SDK核心功能-->
        <service
            android:name="com.hyphenate.chat.EMChatService"
            android:exported="true" />
        <service
            android:name="com.hyphenate.chat.EMJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <!-- 声明SDK所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

    </application>

</manifest>