<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.js.login">

    <application android:allowBackup="true">
        <meta-data
            android:name="com.js.login.LoginApp"
            android:value="IModuleConfig" />

        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" />

        <activity
            android:name=".ui.activity.RegisterActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" />

        <activity
            android:name=".ui.activity.ForgetPwdActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" />

        <activity
            android:name=".ui.activity.ResetPwdActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" />

        <activity android:name=".ui.activity.WxBindActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".ui.activity.BindStatusActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>




